{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>My Profile - OpenUni</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/a.jpg' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link src="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">
                <h1><a href="/">OpenUni</a></h1>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="assignments">Solved Assignments</a></li>
                    <li><a class="nav-link scrollto" href="questionpaper">Question Papers</a></li>

                    <li><a class="nav-link scrollto" href="worpro">Workbooks</a></li>
                    <li><a class="nav-link scrollto" href="events">Events</a></li>
                    <li class="dropdown"><a href="#"><span>Category</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="degree">Degree Program</a></li>
                            <li><a href="pgprogram">PG Program</a></li>
                            <li><a href="diploma">Diploma</a></li>
                            <li><a href="certificate">Certificate</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="contacts">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

            <div class="header-social-links d-flex align-items-center">
                {% if user.is_authenticated %}

                <a href="account" class="user_profile"><i class="bi bi-person-circle" ></i></a>
                <a href="" class="cart"><i class="bi bi-cart"></i></a> {%endif%}

                <a href="search" class="for_search"><i class="bi bi-search"></i></a>

            </div>

        </div>
    </header>
    <!-- End Header -->
    <!-- {% if alert%}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{alert}}</strong>
    </div>
    {%endif%} -->

    <!-- ======= Hero Section ======= -->
    <section class="d-flex flex-column justify-content-center align-items-center my-5 pb-0">
        <div class="container text-center text-md-left" data-aos="fade-up">

            {%if user_data.profile_img%}
            <img src="{{user_data.profile_img}}" alt="" style="width:200px;border-radius:50%;"> {%else%}
            <img src="{% static 'assets/img/avatar.png'%}" alt="" style="width:200px;border-radius:50%;"> {%endif%}
            <br>
            <br>
            <h1 style="color:#3498db">Hi, <span>{{user_data.name}}</span></h1>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main container">
        <!-- ======= Portfolio Section ======= -->





        <div class="card">
            <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">

                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Your purchased content</button>
                    </li>

                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                    </li>



                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                    </li>

                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-image">Change Profile Image</button>
                    </li>



                </ul>
                <div class="tab-content pt-2">

                    <div class="tab-pane fade show active profile-overview" id="profile-overview">

                    </div>

                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                        <!-- Profile Edit Form -->
                        <form method="post" action="account">
                            {% csrf_token %}

                            <div class="row mb-3">
                                <label for="name" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="name" type="text" class="form-control" id="name" value="{{user_data.name}}" required>
                                </div>
                            </div>



                            <div class="row mb-3">
                                <label for="course" class="col-md-4 col-lg-3 col-form-label">Your course</label>
                                <div class="col-md-8 col-lg-9">
                                    <!-- <input name="course" type="text" class="form-control" id="course" value="{{user_data.course}}" required>
                                    <label for="cars">Choose a car:</label> -->
                                    <select name="course" type="text" class="form-control" id="course" value="{{user_data.course}}" required>
                                      {%for c in courses%}
                                        <option value="{{c.name}}">{{c.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="dob" class="col-md-4 col-lg-3 col-form-label">DOB</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="dob" type="date" class="form-control" id="date" value="{{user_data.dob}}" required>
                                </div>
                            </div>





                            <div class="row mb-3">
                                <label for="Phone_number" class="col-md-4 col-lg-3 col-form-label">Mobile Number</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="Phone_number" type="number" class="form-control" id="Phone_number" value="{{user_data.Phone_number}}" maxlength="10" size="10" required>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="email" type="email" class="form-control" id="Email" value="{{user_data.email}}" required>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Enrollment_Number" class="col-md-4 col-lg-3 col-form-label">Enrollment Number</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="Enrollment_Number" type="text" class="form-control" id="Enrollment_Number" value="{{user_data.Enrollment_Number}}" required>
                                </div>
                            </div>



                            <div class="row mb-3">
                                <label for="Regional_Centre_Code" class="col-md-4 col-lg-3 col-form-label">Regional Centre Code</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="Regional_Centre_Code" type="text" class="form-control" id="Regional_Centre_Code" value="{{user_data.Regional_Centre_Code}}" required>
                                </div>
                            </div>



                            <div class="row mb-3">
                                <label for="Regional_Centre_Name" class="col-md-4 col-lg-3 col-form-label">Regional Centre Name</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="Regional_Centre_Name" type="text" class="form-control" id="Regional_Centre_Name" value="{{user_data.Regional_Centre_Name}}" required>
                                </div>
                            </div>



                            <div class="row mb-3">
                                <label for="Study_Centre_Code" class="col-md-4 col-lg-3 col-form-label">Study Centre Code</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="Study_Centre_Code" type="text" class="form-control" id="Study_Centre_Code" value="{{user_data.Study_Centre_Code}}" required>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label for="Study_Centre_Name" class="col-md-4 col-lg-3 col-form-label">Study Centre Name</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="Study_Centre_Name" type="text" class="form-control" id="Study_Centre_Name" value="{{user_data.Study_Centre_Name}}" required>
                                </div>
                            </div>







                            <div class="row mb-3">
                                <label for="Session" class="col-md-4 col-lg-3 col-form-label">Session</label>
                                <div class="col-md-8 col-lg-9">
                                    <!-- <input name="Session" type="text" class="form-control" id="Session" value="{{user_data.Session}}" required> -->
                                    <select name="Session" type="text" class="form-control" id="Session" value="{{user_data.Session}}" required>
                                        {%for c in sessions%}
                                          <option value="{{c.name}}">{{c.name}}</option>
                                          {%endfor%}
                                      </select>
                                </div>
                            </div>







                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                        <!-- End Profile Edit Form -->

                    </div>

                    <div class="tab-pane fade pt-3" id="profile-settings">

                        <!-- Settings Form -->
                        <form>

                            <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                                <div class="col-md-8 col-lg-9">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="changesMade" checked>
                                        <label class="form-check-label" for="changesMade">
                    Changes made to your account
                  </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="newProducts" checked>
                                        <label class="form-check-label" for="newProducts">
                    Information on new products and services
                  </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="proOffers">
                                        <label class="form-check-label" for="proOffers">
                    Marketing and promo offers
                  </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                                        <label class="form-check-label" for="securityNotify">
                    Security alerts
                  </label>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                        <!-- End settings Form -->

                    </div>


                    <div class="tab-pane fade pt-3" id="profile-change-password">
                        <!-- Change Password Form -->
                        <form>

                            {% csrf_token %}
                            <div class="row mb-3">
                                <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="password" type="password" class="form-control" id="currentPassword">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="newpassword" type="password" class="form-control" id="newPassword">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                        </form>
                        <!-- End Change Password Form -->

                    </div>

                    <div class="tab-pane fade pt-3" id="profile-change-image">
                        <form action="updateprofile" method="post" enctype="multipart/form-data">

                            {% csrf_token %}
                            <label for="fileField"></label>
                            <input type="file" id="fileField" name="file" accept="image/*">
                            <input type="hidden" name="userid" value="{{user_data.userid}}">
                            <button class="btn btn-sm btn-primary" type="submit">Update Profile</button>
                        </form>
                    </div>


                </div>
                <!-- End Bordered Tabs -->


            </div>
        </div>
        <a class="btn2" href="/logout">
  <button">Sign out</button>
 </a>














    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>OpenUni</h3>
                        <p>
                            XYZ <br> New Delhi, 1100XX<br> India <br><br>
                            <strong>Phone:</strong> 1234567890<br>
                            <strong>Email:</strong> openuni@xyz.com<br>
                        </p>
                    </div>



                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="assignments">Solved Assignments</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="questionpaper">Question Papers</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="examnotes">Exam Notes</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="worpro">Workbooks</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="events">Events</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="faqs">FAQs</a></li>


                            <li><i class="bx bx-chevron-right"></i> <a href="tnc">Terms and Conditions</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="privacy-policy">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join Our Newsletter</h4>
                        <p>For latest updates, stay tuned with us.</p>
                        <form action="" method="post">
                            <input type="email" name="email" placeholder="Enter your Email address"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>OpenUni</span></strong>. All Rights Reserved
                </div>

            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://mobile.twitter.com/OpenUni11" class="twitter"><i class="bx bxl-twitter"></i></a>

            <a href="https://www.instagram.com/openuni.in/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>


            <a href="https://t.me/+VvMMR2I2MjI3NTBl" class="gmail"><i class="bx bxl-telegram"></i></a>

            <a href="https://chat.whatsapp.com/CFWuSZQ2w3i6DGiRyVZTU4" class="wahtsapp"><i class="bx bxl-whatsapp"></i></a>

        </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

<script>
    var alr = "{{alert}}";
    if (alr) {
        alert(alr);
    }
</script>

</html>